@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scanner Animation */
@keyframes scan {
  0% { top: 10%; opacity: 0; }
  50% { opacity: 1; }
  100% { top: 90%; opacity: 0; }
}
.animate-scan {
  animation: scan 2s infinite ease-in-out;
}